.recipe-list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:black
}

.create-button {
    margin: 19px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
