.recipe-list-container {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    margin: 19px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
