.recipe-list-container {
    display: flex;
    flex-direction: row;
}

.create-button {
    margin: 19px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.recipe-list-single {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:black;
    flex-wrap: wrap;
    width: 100%;
    background: hsl(0, 0%, 90%);
}
