#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    height: auto;
    background: #808080;
    border: 1px solid black;
    align-items: center;
    font-size: 2rem;
    margin: 10%;
    padding:3%;
  }

  .modal-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    height:auto;
    width: auto;
  }

  .modal-button {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
  }
  .modal-button-submit {
    flex: display;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
  }

  label {
    font-size: 1.2rem;
    align-items: center;
  }

  .modal-container {
    width: 90%;
    height: 90%;
  }

  .modal-errors {
    text-align: start;
    font-size: 1rem;

  }

  .modal-errors-container {
    font-size: 1rem;
  }

  .create-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .comment-container {
    background-color:silver;

  }

  .comment-container-single {
    box-sizing: border-box;
    border: solid black 2px;
  }

  .recipe-title-single {
    text-align: center;
  }

  .recipe-detail-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    text-align: left;
  }

  .recipe-detail-list-container {
    text-align: left;
    font-size: 15px;
  }

  .card-body-single {

    text-align: left;
  }
