
.centered {
    margin: 0 auto;
    padding: 0 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    transition:0.3s;
    width: 50rem;
}
.recipe-detail {
    flex: 0 1 24%;
    flex-direction: column;
    justify-content: center;
    /* box-sizing: border-box; */
    align-items: center;
    margin: 1rem .25em;
    /* background-color:white; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); */
    /* border-radius: .25rem; */
    max-width: 500px;
    align-items: center;
    transition: 0.3s;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.7);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border-radius: 10px;
}

.recipe-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
}

.card-body {
    margin-top: .9rem;
    font-size: .9rem;
    padding: 2px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}

.button {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover, .btn:focus {
    background:hsl(200, 50%, 60%);
}

.button-row {
    display:flex;
    align-items: center
}
.recipe-single-card-container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

li {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    text-align: left;
    font-size:1.2rem;
    margin: 0 auto;

}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

body {
    background: hsl(0, 0%, 90%);
}
