
.splashpage-container {
    font-family: sans-serif;
    background-image: url(https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581688713/DCUK/Content/iStock-938993594-1000x600.jpg);
    /* background-size: auto; */
    background-size:cover;
    display:flex;
    height:100vh;
    background-color: #cccccc;
}

.splashpage-writing-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  color: white;
  

}

.splashpage-header {
    color:black;
    display: flex;
    font-size:2rem;
    align-items: center;
    justify-content:center;
    align-content: center;
    text-align: center;
    padding: .8rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    width: 30rem;
    height: 5rem;
    border-radius: .25rem;
}
.splashpage-login {
    display: flex;
    justify-content: center;
    color:black;
    font-size:20px;
    padding: 5px;
    border-radius:10px;
    margin: 10px 20px 30px;
}

.recipe-button {
    background: hsl(200, 50%, 50%);
    font-size: 1rem;
    padding: .5rem 1.1rem .4rem;
    color: white;
    border: 1px solid;
    padding: .5em .75em;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    width: 10rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    transition: 0.3s;
    display: inline-block;
}

.test-new-button {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        z-index: 0;
        background: #fff;
        overflow: hidden;
        border: 2px solid hsl(200, 50%, 50%);
        color:hsl(200, 50%, 50%);
}
      .test-new-button:hover {
        color: #fff;
      }
      .test-new-button:hover:after {
        width: 100%;
      }
      .test-new-button:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: hsl(200, 50%, 50%);
      }

.nav-logo {
    width: 100px;
}

.splash-container {
  background: rgba(255,255,255,0.7);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border-radius: 10px;
  
    
}
