.login-bar-container{
    background: rgba(0, 0, 0, 0.201);
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    width:100%;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    position: sticky;
    border-radius: 5px;
    padding: 10px 20px 30px;
}

.login-ul {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    display: flex;
}

.login-li {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.login-bar {
    display: flex;
    flex-direction: row;
}

.login-signup-button {
    background: transparent;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 10px;
    color:black;
}

.login-button {
    background: transparent;
    margin-left: 15px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 10px;
    color: black;
    align-items: center;
    align-self: center;
}

.login-button:hover {
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);;
    transition: box-shadow 0.6s ease-in-out;
}

.signup-button:hover {
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);;
    transition: box-shadow 0.6s ease-in-out;
}

.login-home-button {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.login-button {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}
.home-button {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    height:3rem;
    width:5rem;
}

.nav-row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
    background: rgba(0, 0, 0, 0.201);
    border-radius: 5px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

li {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.form-button {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}


h3 {
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
}

i {
    width: 2rem;
    height: 1rem;
    text-align: center;
}

.center-profile {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items: center;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 90%);
    align-items: center;
    justify-content: flex-start;
    padding:0;
}

.profile-list-item {
    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
}
